@charset "utf-8";
/* CSS Document */
* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	color: black;
}
a {
	text-decoration: none;
	color: black;
	display: inline-block;
}
body {
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	font-family: Pretendard;
	box-sizing: border-box;
}
.div {
	position: relative;
	width: 100vw;
	height: 564px;
	background: url("image1/Hero BG.png") center no-repeat;
}
.logo {
	position: absolute;
	display: inline-block;
	top: 5%;
	left: 5%;
	width: 118px;
	height: 33px;
}
.hd-main-text {
	position: absolute;
	width: 550px;
	height: 65px;
	font-size: 50px;
	font-weight: 300;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
}
.app-text {
	color: #fff;
	font-size: 24px;
	text-align: center;
}
.search {
	position: relative;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: 50%;
	transform: translate(-50%);
	width: 765px;
	height: 48px;
	border-radius: 100px;
	background-color: #e7ecf0;
}
.search-logo {
	margin-left: 15px;
	margin-top: 14px;
	width: 20px;
	height: 20px;
	display: inline-block;
}
.search-input {
	position: absolute;
	top: 50%;
	left: 52%;
	transform: translate(-50%, -50%);
	width: 700px;
	height: 30px;
	border: none;
	background-color: #e7ecf0;
}
.main-text {
	margin-left: 7%;
	margin-bottom: 20px;
}
.main-img-container1 {
	height: 220px;
	display: grid;
	grid-template-columns: repeat(6, 150px);
	justify-content: space-evenly;
	text-align: center;
	margin-bottom: 20px;
}
.main-img-container2 {
	height: 220px;
	display: grid;
	grid-template-columns: repeat(6, 150px);
	justify-content: space-evenly;
}
.img1-1, .img1-2, .img1-3, .img1-4, .img1-5, .img1-6 {
	width: 150px;
	height: 150px;
}
.img1-1 {
	background: url("image1/2da35fcd5fb7b6c3d0326a0128197802 1.png") no-repeat top;
	clip-path: circle(50% at 50% 50%);
}
.img1-2 {
	background: url("image1/170849c4ba68503728646b3153653172 1.png") no-repeat top;
	clip-path: circle(50% at 50% 50%);
}
.img1-3 {
	background: url("image1/43bddcd6a0c1ade4f139ee71b17b5203 1.png") no-repeat top;
	clip-path: circle(50% at 50% 50%);
}
.img1-4 {
	background: url("image1/7b25e0228a4c89ef9ded4894318ceeab 1.png") no-repeat top;
	clip-path: circle(50% at 50% 50%);
}
.img1-5 {
	background: url("image1/f609bc26fe8bd933fc14824aadd792d2 1.png") no-repeat top;
	clip-path: circle(50% at 50% 50%);
}
.img1-6 {
	background: url("image1/merch_image.png") no-repeat center;
	clip-path: circle(50% at 50% 50%);
}
.img2-1, .img2-2, .img2-3, .img2-4, .img2-5, .img2-6 {
	width: 150px;
	height: 150px;
}
.img2-1 {
	background: url("image1/merch_image2.png") no-repeat top;
}
.img2-2 {
	background: url("image1/Mask Group2.png") no-repeat top;
}
.img2-3 {
	background: url("image1/Mask Group3.png") no-repeat top;
}
.img2-4 {
	background: url("image1/Mask Group4.png") no-repeat top;
}
.img2-5 {
	background: url("image1/Mask Group5.png") no-repeat top;
}
.img2-6 {
	background: url("image1/Mask Group6.png") no-repeat center;
}
.song {
	font-size: 1rem;
}
.track {
	font-size: 0.9rem;
	color: #636363;
}
.section2 {
	height: 466px;
	display: flex;
}
.section2-line {
	width: 95%;
	margin-left: 2.5%;
	height: 1px;
}
.section2-buttonbox {
	display: flex;
	width: 60%;
	height: 100%;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.section2-text {
	height: 35px;
	color: #4b4b4b;
	font-size: 2.5rem;
	font-weight: 200;
}
.app-rtg {
	width: 170px;
	height: 35px;
	border-radius: 50px;
	background-color: #ff8383;
	padding-top: 10px;
	margin-top: 100px;
}
.phone-img1 {
	margin-top: 80px;
	background: url("image1/iPhone 12 Pro1.png") no-repeat top;
	background-size: contain;
	width: 890px;
	height: 400px;
}
footer {
	width: 100%;
	height: 80px;
}
/* 모달 */
.join {
	display: none;
	z-index: 1;
}
.join-container {
	position: relative;
	width: 400px;
	height: 500px;
	background-color: #797979;
	display: flex;
	align-items: center;
	justify-content: center;
}
.join-ul > li {
	margin: 30px;
	text-align: center;
}
.join-ul > li:nth-child(1) {
	color: #fff;
	font-size: 2rem;
	text-align: center;
	margin-bottom: 60px;
}
.join-ul > li > input {
	padding: 10px;
	width: 270px;
	border-radius: 5px;
	border: none;
}
.join-ul > li > button {
	border: none;
	color: #fff;
	background-color: #FE8385;
	width: 180px;
	height: 35px;
	border-radius: 18px;
	font-size: 1.1rem;
	margin-top: 30px;
}
#close {
	display: inline-block;
	position: absolute;
	width: 35px;
	height: 35px;
	top: 7%;
	right: 7%;
	cursor: pointer;
}
.sect01 {
	position: relative;
}
.sect01 .line-box {
	position: absolute;
	width: 100%;
	height: 100%;
}
.sect01 .line-box > span {
	position: absolute;
	top: 50%;
	width: 100%;
	height: 2px;
	background-color: #fff;
}
.sect01 .line-01 {
	transform: rotate(135deg) translateX(0%);
}
.sect01 .line-02 {
	transform: rotate(45deg) translateX(0%);
}
#switch-label {
	display: flex;
	position: absolute;
	width: 170px;
	height: 35px;
	top: 85%;
	left: 50%;
	color: #fff;
	background-color: #ff8383;
	padding-top: 10px;
	border-radius: 50px;
	transform: translate(-50%, -50%);
	cursor: pointer;
	justify-content: center;
}
#switch:checked ~ .join {
	display: flex;
	position: absolute;
	width: 100vw;
	height: 100vh;
	background-color: rgba(27, 27, 27, 0.50);
	align-items: center;
	justify-content: center;
	top: 0;
}
#switch {
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 1px;
	height: 1px;
	opacity: 0;
}
#switch:checked ~ label[for="switch"] {
	color: dodgerblue;
}
/* 로그인 창 */
.login {
	display: none;
	z-index: 1;
}
/*
.login-window {
	width: 100vw;
	height: 100vh;
	background-color: rgba(27, 27, 27, 0.50);
	display: flex;
	align-items: center;
	justify-content: center;
}
*/
.login-container {
	width: 400px;
	height: 500px;
	background-color: #797979;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}
.login-ul > li {
	margin: 30px;
	text-align: center;
}
.login-ul > li:nth-child(1) {
	color: #fff;
	font-size: 2rem;
	text-align: center;
	margin-bottom: 60px;
}
.login-ul > li > input {
	padding: 10px;
	width: 270px;
	border-radius: 5px;
	border: none;
}
.login-ul > li > button {
	border: none;
	color: #fff;
	background-color: #FE8385;
	width: 180px;
	height: 35px;
	border-radius: 18px;
	font-size: 1.1rem;
	margin-top: 30px;
}
#login-switch-label {
	display: flex;
	position: absolute;
	width: 50px;
	height: 30px;
	top: 5%;
	right: 5%;
	color: #fff;
	cursor: pointer;
}
#login-switch:checked ~ .login {
	display: flex;
	position: absolute;
	width: 100vw;
	height: 100vh;
	background-color: rgba(27, 27, 27, 0.50);
	align-items: center;
	justify-content: center;
	top: 0;
}
#login-switch {
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 1px;
	height: 1px;
	opacity: 0;
}
#login-switch:checked ~ label[for="login-switch"] {
	color: dodgerblue;
}
#close1 {
	display: inline-block;
	position: absolute;
	width: 35px;
	height: 35px;
	top: 7%;
	right: 7%;
	cursor: pointer;
}

/* 플레이어바 */
.player-con {
	width: 100vw;
	height: 100px;
	box-shadow: 0 -1px 19px 0 rgba(0, 0, 0, 0.1);
	background-color: #fff;
	display: flex;
	position: fixed;
	bottom: 0;
}
	.player-sec1 {
		display: flex;
		height: 100px;
		justify-content: center;
		align-items: center;
	}
	.icon-heart {
		margin: 25px;
		color: #FF8383;
		font-size: 30px;
	}
	.music-title > p:nth-child(1) {
		font-weight: 400;
		font-size: 1.2rem;
		color: #191914;
	}
	.music-title > p:nth-child(2) {
		font-weight: 200;
		font-size: 0.9rem;
		color: #646464;
		margin-top: 8px;
	}
	.player-sec2 {
		position: absolute;
		top: 31%;
		left: 33.3%;
		transform: translate(-50% -50%);
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.player-sec2 > i {
		margin-left: 30px;
		margin-right: 30px;
		font-size: 27px;
	}
	.icon-shuffle {
		font-size: 25px;
		color: #FF8383;
		font-weight: 100;
	}
	.player-sec4 {
		height: 100px;
		position: absolute;
		right: 2%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.player-sec4 > img {
		margin: 15px;
	}
	.player-sec3 {
		position: absolute;
		bottom: 12%;
		left: 29.3%;
		display: flex;
		align-items: center;
	}
	#myProgress {
	width: 420px;
	background-color: #c4c4c4;
	cursor: pointer;
	border-radius: 10px;
}
	#myBar {
		width: 0%;
		height: 5px;
		background-color: #191414;
		border-radius: 10px;
	}
	.player-sec3 > div {
		display: inline-block;
		margin-left: 10px;
	}